<div ng-controller="vehicleAddController">
    <div class="list">
        <label class="item item-input item-stacked-label assertive">
            <span class="input-label">VEHICLE NO</span>
            <input type="text" ng-model="VehicleNo" />
        </label>
        <label class="item item-input item-stacked-label assertive">
            <span class="input-label">CURRENT METER READING</span>
            <input type="number" ng-model="MeterReading">
        </label>
      </div>
    <div class="row">
          <button type="button" class="button button-block button-assertive">
                SAVE
          </button>
        </div>
  
    
</div>
